
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
    font-family: 'Caveat', cursive;
}
/* nav */
nav 
{       
    background-color: rgb(247, 241, 241);
    height: 175px;
    font-size: 1em;
}
.container-fluid{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;


}

.navbar-toggler{
    margin-left: 50%;
}

#navbarNavDropdown{
    background-color: rgb(247, 241, 241);
    height: auto;
}

.box {
    width: 30%;
    
}


.box3{
    visibility: hidden;
    font-size: 2em;
    text-align: right;
    padding-right: 15%;
    
}

.navbar-nav .nav-link.active{
    color: black;
}

nav a:hover{
    background-color: lightgray;
}
.nav-link{
    color: rgb(119, 111, 111);
}
.nav-link:hover{
    color: rgb(179, 115, 115);
}

/* main */
main{
    text-align: center;
    color: rgb(217, 218, 218);
}
h1,h3{
    color: black;
}


/* banner */
.banner{
    height: 800px;
    background-image: url(img/river.jpg);
    margin-bottom: 5%;
}

/* photos */
img{
    max-width: 100%;
    max-height: 100%;
}
.photocontainer{

    display: flex;
    justify-content: space-around;
    margin: 1%;
    margin-bottom: 5%;

}


.b{
    width: 15%;
}


/* footer */
footer{
    padding-top: 20px;
    color: aliceblue;
    background-color: black;
}
.flexf{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    
}

.botSocial{
    font-size: 2.5em;
}



/* portfolio page */

.photoNav{
    display: inline-flex;
    color: black;
}

.photos{
    margin-top: 10px;
    color: black;
    
}

.gallery {
    padding-top: 2%;
    padding-left: 30%;
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
 }

 .gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
 }

 #portraits,#family,#pet,#wedding{
    height: 170px;
 }
/* responsive */





@media screen and (min-width:980px) {

    .box3{
        visibility: visible;
    }
}