
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
    font-family: 'Caveat', cursive;
    font-size: 1em;
}
/* nav */
nav 
{       
    background-color: rgb(247, 241, 241);
    height: 175px;
    font-size: 1em;
}
.container-fluid{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;


}

.navbar-toggler{
    margin-left: 50%;
}

#navbarNavDropdown{
    background-color: rgb(247, 241, 241);
    height: auto;
}

.box {
    width: 30%;
    
}


.box3{
    display: none;
    visibility: hidden;
    font-size: 2em;
    text-align: right;
    
}

.navbar-nav .nav-link.active{
    color: black;
}


.nav-link{
    color: rgb(119, 111, 111);
}
.nav-link:hover:not(.btn-contact){
    color: rgb(179, 115, 115);
    background-color: lightgray;

}
.nav-item{
    padding-left: 10px;
}
/* logo */
.fa-brands:hover{
    cursor: pointer;
}
.fa-facebook{
    color: blue;
}
.fa-instagram{
    background: rgb(209,29,249);
    background: linear-gradient(216deg, rgba(209,29,249,1) 0%, rgba(236,223,76,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    
    
    
}
.fa-tiktok{
    color: #111111;
    filter: drop-shadow(2px 2px  #FD3E3E) drop-shadow(-2px -2px  #4DE8F4)
}
    
   


  
/* main */
main{
    text-align: center;
    color: rgb(217, 218, 218);
}
h1,h3{
    color: black;
}


/* banner */
.banner{
    margin-top: 5%;
    height: 800px;
    background-image: url(img/river.jpg);
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* photos */
img{
    max-width: 100%;
    max-height: 100%;
}
.photocontainer{

    display: flex;
    justify-content: space-around;
    margin: 1%;
    margin-bottom: 5%;

}


.b{
    width: 15%;
}


/* footer */
footer{
    padding-top: 20px;
    color: aliceblue;
    background-color: black;
}
.flexf{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    
}

.botSocial{
    font-size: 2.5em;
}



/* portfolio page */

.photoNav{
    display: inline-flex;
    color: black;
}

.photos{
    margin-top: 10px;
    color: black;
    
}

.gallery {
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    line-height:0;
    -webkit-column-count:3; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:3;
    -moz-column-gap:5px;
    column-count:3;
    column-gap:5px;

 }

.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
}

#portraits,#family,#pet,#wedding{
height: 170px;
}

/* contact page */
.contactSection{
    margin-top: 300px;
    text-align: center;
}

.aboutContainer {  
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid; 
    grid-template-columns: 1fr ; 
    grid-template-rows: .3fr 1fr ; 
    gap: 0px 0px; 
    grid-template-areas: 
      "picture "
      "words "
; 
    
}

.picture {  
    grid-area: picture;
    z-index: 2;
}

.words { 
    grid-area: words;
    background-color: bisque;
    font-size: 20px;
    z-index: 1;
    color: brown;
    padding: 3%;


}

.contactForm{
    margin: 15%;
    font-size: 40px;
}
#contactBtn{
    width: 300px;
}
#submitBtn{
    width: 150px;
}


/* responsive */





@media screen and (min-width:576px) {
    .contactSection{
        margin-top: 30%;
    }
    .words{
        font-size: 30px;
    }
}
@media screen and (min-width:768px) {

    .contactSection{
        margin-top: 30%;
    }
    .box3 {
        display: none;
        
    }
}
@media screen and (min-width:992px) {

    .box3{
        visibility: visible;
        display: block;

    }
    .contactSection{
        margin-top: 25%;
    }
    .box1 {
        width: 20%;
        
    }

    .aboutContainer {  
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px;
    }
        
    .picture { 
        grid-area: 1 / 1 / 5 / 3;
    }
    .words { 
        grid-area: 2 / 2 / 6 / 5;
        padding-left: 35%;
    }

    
}
@media screen and (min-width:1200px) {

    .contactSection{
        margin-top: 20%;
    }
}
@media screen and (min-width:1400px) {

    .contactSection{
        margin-top: 13%;
    }
    
}